deploy/commercial/ualtimebomb-disarm.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.7.6.0",
  "metadata": {
    "title": "UAL TimeBomb DISARM - Watchlist-Driven Restore",
    "description": "Creates UALTimeBombDisarm and deploys ualtimebomb-disarm as the single watchlist-driven script-only restore workflow. Device freshness is checked with Defender DeviceInfo advanced hunting telemetry. Successful disarm removes UAL TimeBomb tags and returns the device to normal tag state.",
    "author": "Security Engineering"
  },
  "parameters": {
    "location": { "type": "string", "defaultValue": "[resourceGroup().location]" },
    "WorkflowState": { "type": "string", "defaultValue": "Disabled", "allowedValues": [ "Enabled", "Disabled" ] },
    "SentinelWorkspaceResourceGroup": { "type": "string" },
    "SentinelWorkspaceName": { "type": "string" },
    "SentinelWorkspaceCustomerId": { "type": "string" },
    "SentinelWorkspaceSubscriptionId": { "type": "string", "defaultValue": "[subscription().subscriptionId]" },
    "CreateWatchlist": { "type": "bool", "defaultValue": true },
    "WatchlistAlias": { "type": "string", "defaultValue": "UALTimeBombDisarm" },
    "WatchlistDisplayName": { "type": "string", "defaultValue": "UAL TimeBomb Disarm Queue" },
    "PollFrequencyMinutes": { "type": "int", "defaultValue": 60 },
    "OnlineWindowMinutes": { "type": "int", "defaultValue": 240 },
    "RetryAfterHours": { "type": "int", "defaultValue": 1 },
    "LiveResponseRetryAfterHours": { "type": "int", "defaultValue": 2 },
    "DisarmTag": { "type": "string", "defaultValue": "UALTimeBombRestore" },
    "DisarmedTag": { "type": "string", "defaultValue": "UALTimeBombDisarmed" },
    "DetonatedTag": { "type": "string", "defaultValue": "UALTimeBombArmed" },
    "LegacyDetonatedTag": { "type": "string", "defaultValue": "UALTimeBombDeployed" },
    "FailedTag": { "type": "string", "defaultValue": "UALTimeBombDisarmFailed" },
    "DisarmScriptName": { "type": "string", "defaultValue": "Disarm-TimeBomb.ps1" },
    "DefenderApiBaseUri": { "type": "string", "defaultValue": "https://api.securitycenter.microsoft.com" },
    "DefenderApiAudience": { "type": "string", "defaultValue": "https://securitycenter.onmicrosoft.com/windowsatpservice" },
    "AdvancedHuntingApiBaseUri": { "type": "string", "defaultValue": "https://api.security.microsoft.com" },
    "AdvancedHuntingApiAudience": { "type": "string", "defaultValue": "https://api.security.microsoft.com" },
    "ArmBaseUri": { "type": "string", "defaultValue": "https://management.azure.com" },
    "ArmAudience": { "type": "string", "defaultValue": "https://management.azure.com/" }
  },
  "variables": {
    "PlaybookName": "ualtimebomb-disarm",
    "LiveResponseTimeoutMinutes": 30,
    "watchlistSeedCsv": "MdatpDeviceId,DeviceName,IncidentId,Reason,RequestedBy,EnqueuedTime,Attempts,Status,RetryAfterUtc,LastAttemptUtc,LastError,LastActionId\nSAMPLE-DO-NOT-RUN,sample-device,sample,Schema placeholder,system,,0,Template,,,,\n",
    "watchlistResourceId": "[concat('/subscriptions/', parameters('SentinelWorkspaceSubscriptionId'), '/resourceGroups/', parameters('SentinelWorkspaceResourceGroup'), '/providers/Microsoft.OperationalInsights/workspaces/', parameters('SentinelWorkspaceName'), '/providers/Microsoft.SecurityInsights/watchlists/', parameters('WatchlistAlias'))]"
  },
  "resources": [
    {
      "condition": "[parameters('CreateWatchlist')]",
      "type": "Microsoft.Resources/deployments",
      "apiVersion": "2022-09-01",
      "name": "Deploy-UALTimeBombDisarm-Watchlist",
      "subscriptionId": "[parameters('SentinelWorkspaceSubscriptionId')]",
      "resourceGroup": "[parameters('SentinelWorkspaceResourceGroup')]",
      "properties": {
        "mode": "Incremental",
        "expressionEvaluationOptions": { "scope": "inner" },
        "parameters": {
          "SentinelWorkspaceName": { "value": "[parameters('SentinelWorkspaceName')]" },
          "WatchlistAlias": { "value": "[parameters('WatchlistAlias')]" },
          "WatchlistDisplayName": { "value": "[parameters('WatchlistDisplayName')]" },
          "WatchlistSeedCsv": { "value": "[variables('watchlistSeedCsv')]" }
        },
        "template": {
          "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "SentinelWorkspaceName": { "type": "string" },
            "WatchlistAlias": { "type": "string" },
            "WatchlistDisplayName": { "type": "string" },
            "WatchlistSeedCsv": { "type": "string" }
          },
          "resources": [
            {
              "type": "Microsoft.OperationalInsights/workspaces/providers/watchlists",
              "apiVersion": "2023-11-01",
              "name": "[format('{0}/Microsoft.SecurityInsights/{1}', parameters('SentinelWorkspaceName'), parameters('WatchlistAlias'))]",
              "properties": {
                "displayName": "[parameters('WatchlistDisplayName')]",
                "watchlistAlias": "[parameters('WatchlistAlias')]",
                "source": "Local file",
                "provider": "Microsoft",
                "description": "Manual queue of Defender devices approved for UAL TimeBomb full disarm and restore dispatch.",
                "itemsSearchKey": "MdatpDeviceId",
                "contentType": "text/csv",
                "numberOfLinesToSkip": 0,
                "rawContent": "[parameters('WatchlistSeedCsv')]"
              }
            }
          ]
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[variables('PlaybookName')]",
      "location": "[parameters('location')]",
      "tags": {
        "purpose": "security-playbook",
        "tool": "ualtimebomb",
        "component": "user-access-lockout-disarm",
        "trigger-model": "recurrence-watchlist"
      },
      "identity": { "type": "SystemAssigned" },
      "properties": {
        "state": "[parameters('WorkflowState')]",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.7.6.0",
          "parameters": {
            "WorkspaceSubscriptionId": { "type": "String", "defaultValue": "[parameters('SentinelWorkspaceSubscriptionId')]" },
            "WorkspaceResourceGroup": { "type": "String", "defaultValue": "[parameters('SentinelWorkspaceResourceGroup')]" },
            "WorkspaceName": { "type": "String", "defaultValue": "[parameters('SentinelWorkspaceName')]" },
            "WorkspaceCustomerId": { "type": "String", "defaultValue": "[parameters('SentinelWorkspaceCustomerId')]" },
            "WatchlistAlias": { "type": "String", "defaultValue": "[parameters('WatchlistAlias')]" },
            "OnlineWindowMinutes": { "type": "Int", "defaultValue": "[parameters('OnlineWindowMinutes')]" },
            "RetryAfterHours": { "type": "Int", "defaultValue": "[parameters('RetryAfterHours')]" },
            "LiveResponseRetryAfterHours": { "type": "Int", "defaultValue": "[parameters('LiveResponseRetryAfterHours')]" },
            "DisarmTag": { "type": "String", "defaultValue": "[parameters('DisarmTag')]" },
            "DisarmedTag": { "type": "String", "defaultValue": "[parameters('DisarmedTag')]" },
            "DetonatedTag": { "type": "String", "defaultValue": "[parameters('DetonatedTag')]" },
            "LegacyDetonatedTag": { "type": "String", "defaultValue": "[parameters('LegacyDetonatedTag')]" },
            "FailedTag": { "type": "String", "defaultValue": "[parameters('FailedTag')]" },
            "DisarmScriptName": { "type": "String", "defaultValue": "[parameters('DisarmScriptName')]" },
            "DefenderApiBaseUri": { "type": "String", "defaultValue": "[parameters('DefenderApiBaseUri')]" },
            "DefenderApiAudience": { "type": "String", "defaultValue": "[parameters('DefenderApiAudience')]" },
            "AdvancedHuntingApiBaseUri": { "type": "String", "defaultValue": "[parameters('AdvancedHuntingApiBaseUri')]" },
            "AdvancedHuntingApiAudience": { "type": "String", "defaultValue": "[parameters('AdvancedHuntingApiAudience')]" },
            "ArmBaseUri": { "type": "String", "defaultValue": "[parameters('ArmBaseUri')]" },
            "ArmAudience": { "type": "String", "defaultValue": "[parameters('ArmAudience')]" },
            "LiveResponseTimeoutMinutes": { "type": "Int", "defaultValue": "[variables('LiveResponseTimeoutMinutes')]" }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": { "frequency": "Minute", "interval": "[parameters('PollFrequencyMinutes')]" }
            }
          },
          "actions": {
            "Run_Queue_Query": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "@{concat(parameters('ArmBaseUri'), '/subscriptions/', encodeURIComponent(parameters('WorkspaceSubscriptionId')), '/resourceGroups/', encodeURIComponent(parameters('WorkspaceResourceGroup')), '/providers/Microsoft.OperationalInsights/workspaces/', encodeURIComponent(parameters('WorkspaceName')), '/providers/Microsoft.SecurityInsights/watchlists/', encodeURIComponent(parameters('WatchlistAlias')), '/watchlistItems?api-version=2023-11-01')}",
                "authentication": { "type": "ManagedServiceIdentity", "audience": "@parameters('ArmAudience')" }
              }
            },
            "For_Each_Queue_Row": {
              "type": "Foreach",
              "runAfter": { "Run_Queue_Query": [ "Succeeded" ] },
              "foreach": "@coalesce(body('Run_Queue_Query')?['value'], json('[]'))",
              "runtimeConfiguration": { "concurrency": { "repetitions": 1 } },
              "actions": {
                "If_Row_Eligible": {
                  "type": "If",
                  "expression": "@and(not(empty(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['MdatpDeviceId'])), or(empty(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['Status']), equals(toLower(coalesce(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['Status'], '')), 'pending'), equals(toLower(coalesce(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['Status'], '')), 'queued'), equals(toLower(coalesce(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['Status'], '')), 'retry'), equals(toLower(coalesce(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['Status'], '')), 'blockedliveresponse')), or(empty(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['RetryAfterUtc']), lessOrEquals(ticks(coalesce(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['RetryAfterUtc'], '1900-01-01T00:00:00Z')), ticks(utcNow()))))",
                  "actions": {
                    "Get_MDE_Device": {
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "@{concat(parameters('DefenderApiBaseUri'), '/api/machines/', encodeURIComponent(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['MdatpDeviceId']))}",
                        "authentication": { "type": "ManagedServiceIdentity", "audience": "@parameters('DefenderApiAudience')" }
                      }
                    },
                    "Query_DeviceInfo": {
                      "type": "Http",
                      "runAfter": { "Get_MDE_Device": [ "Succeeded" ] },
                      "inputs": {
                        "method": "POST",
                        "uri": "@{concat(parameters('AdvancedHuntingApiBaseUri'), '/api/advancedhunting/run')}",
                        "headers": { "Content-Type": "application/json" },
                        "authentication": { "type": "ManagedServiceIdentity", "audience": "@parameters('AdvancedHuntingApiAudience')" },
                        "body": {
                          "Query": "@{concat('DeviceInfo | where DeviceId =~ ''', items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['MdatpDeviceId'], ''' | summarize arg_max(Timestamp, DeviceName, OnboardingStatus, SensorHealthState, OSPlatform) by DeviceId | project DeviceId, DeviceName, OnboardingStatus, SensorHealthState, OSPlatform, LatestTimestamp=Timestamp')}"
                        }
                      }
                    },
                    "If_Device_Ready": {
                      "type": "If",
                      "runAfter": { "Query_DeviceInfo": [ "Succeeded" ] },
                      "expression": "@and(not(empty(coalesce(body('Query_DeviceInfo')?['Results'], json('[]')))), equals(if(empty(coalesce(body('Query_DeviceInfo')?['Results'], json('[]'))), '', first(body('Query_DeviceInfo')?['Results'])?['OnboardingStatus']), 'Onboarded'), equals(if(empty(coalesce(body('Query_DeviceInfo')?['Results'], json('[]'))), '', first(body('Query_DeviceInfo')?['Results'])?['SensorHealthState']), 'Active'), greaterOrEquals(ticks(if(empty(coalesce(body('Query_DeviceInfo')?['Results'], json('[]'))), '1900-01-01T00:00:00Z', coalesce(first(body('Query_DeviceInfo')?['Results'])?['LatestTimestamp'], '1900-01-01T00:00:00Z'))), ticks(addMinutes(utcNow(), mul(-1, parameters('OnlineWindowMinutes'))))))",
                      "actions": {
                        "Query_Active_Live_Response_Actions": {
                          "type": "Http",
                          "inputs": {
                            "method": "GET",
                            "uri": "@{concat(parameters('DefenderApiBaseUri'), '/api/machineactions')}",
                            "authentication": { "type": "ManagedServiceIdentity", "audience": "@parameters('DefenderApiAudience')" },
                            "queries": {
                              "$filter": "@{concat('machineId eq ''', items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['MdatpDeviceId'], ''' and type eq ''LiveResponse'' and (status eq ''Pending'' or status eq ''InProgress'')')}",
                              "$top": "1"
                            }
                          }
                        },
                        "If_Active_Live_Response_Exists": {
                          "type": "If",
                          "runAfter": { "Query_Active_Live_Response_Actions": [ "Succeeded" ] },
                          "expression": "@greater(length(coalesce(body('Query_Active_Live_Response_Actions')?['value'], json('[]'))), 0)",
                          "actions": {
                            "Update_Watchlist_Blocked_Live_Response": {
                              "type": "Http",
                              "inputs": {
                                "method": "PUT",
                                "uri": "@{concat(parameters('ArmBaseUri'), '/subscriptions/', encodeURIComponent(parameters('WorkspaceSubscriptionId')), '/resourceGroups/', encodeURIComponent(parameters('WorkspaceResourceGroup')), '/providers/Microsoft.OperationalInsights/workspaces/', encodeURIComponent(parameters('WorkspaceName')), '/providers/Microsoft.SecurityInsights/watchlists/', encodeURIComponent(parameters('WatchlistAlias')), '/watchlistItems/', encodeURIComponent(items('For_Each_Queue_Row')?['name']), '?api-version=2023-11-01')}",
                                "headers": { "Content-Type": "application/json" },
                                "authentication": { "type": "ManagedServiceIdentity", "audience": "@parameters('ArmAudience')" },
                                "body": { "properties": { "itemsKeyValue": {
                                  "MdatpDeviceId": "@{items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['MdatpDeviceId']}",
                                  "DeviceName": "@{coalesce(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['DeviceName'], body('Get_MDE_Device')?['computerDnsName'])}",
                                  "IncidentId": "@{items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['IncidentId']}",
                                  "Reason": "@{items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['Reason']}",
                                  "RequestedBy": "@{items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['RequestedBy']}",
                                  "EnqueuedTime": "@{coalesce(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['EnqueuedTime'], utcNow())}",
                                  "Attempts": "@{string(add(int(if(empty(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['Attempts']), '0', items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['Attempts'])), 1))}",
                                  "Status": "BlockedLiveResponse",
                                  "RetryAfterUtc": "@{addHours(utcNow(), parameters('LiveResponseRetryAfterHours'))}",
                                  "LastAttemptUtc": "@{utcNow()}",
                                  "LastError": "@{concat('Active Live Response action already exists: ', first(body('Query_Active_Live_Response_Actions')?['value'])?['id'])}",
                                  "LastActionId": "@{first(body('Query_Active_Live_Response_Actions')?['value'])?['id']}"
                                } } }
                              }
                            }
                          },
                          "else": {
                            "actions": {
                              "Run_LR_Disarm": {
                                "type": "Http",
                                "runAfter": {},
                                "inputs": {
                                  "method": "POST",
                                  "uri": "@{concat(parameters('DefenderApiBaseUri'), '/api/machines/', encodeURIComponent(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['MdatpDeviceId']), '/runliveresponse')}",
                                  "headers": { "Content-Type": "application/json" },
                                  "authentication": { "type": "ManagedServiceIdentity", "audience": "@parameters('DefenderApiAudience')" },
                                  "body": { "Commands": [ { "type": "RunScript", "params": [ { "key": "ScriptName", "value": "@{parameters('DisarmScriptName')}" } ] } ], "Comment": "UAL TimeBomb DISARM from watchlist @{parameters('WatchlistAlias')}." }
                                }
                              },
                              "Parse_LR_Disarm_Response": {
                                "type": "ParseJson",
                                "runAfter": { "Run_LR_Disarm": [ "Succeeded" ] },
                                "inputs": { "content": "@body('Run_LR_Disarm')", "schema": { "type": "object", "properties": { "id": { "type": "string" }, "status": { "type": "string" } } } }
                              },
                              "Poll_Disarm_Until_Done": {
                                "type": "Until",
                                "runAfter": { "Parse_LR_Disarm_Response": [ "Succeeded" ] },
                                "expression": "@or(equals(coalesce(body('Get_Disarm_Status')?['status'], ''), 'Succeeded'), equals(coalesce(body('Get_Disarm_Status')?['status'], ''), 'Failed'), equals(coalesce(body('Get_Disarm_Status')?['status'], ''), 'Cancelled'))",
                                "limit": { "count": 60, "timeout": "PT@{parameters('LiveResponseTimeoutMinutes')}M" },
                                "actions": {
                                  "Wait_Disarm_30s": { "type": "Wait", "inputs": { "interval": { "count": 30, "unit": "Second" } } },
                                  "Get_Disarm_Status": {
                                    "type": "Http",
                                    "runAfter": { "Wait_Disarm_30s": [ "Succeeded" ] },
                                    "inputs": {
                                      "method": "GET",
                                      "uri": "@{concat(parameters('DefenderApiBaseUri'), '/api/machineactions/', encodeURIComponent(body('Parse_LR_Disarm_Response')?['id']))}",
                                      "authentication": { "type": "ManagedServiceIdentity", "audience": "@parameters('DefenderApiAudience')" }
                                    }
                                  }
                                }
                              },
                              "If_Disarm_LR_Succeeded": {
                                "type": "If",
                                "runAfter": { "Poll_Disarm_Until_Done": [ "Succeeded" ] },
                                "expression": "@equals(body('Get_Disarm_Status')?['status'], 'Succeeded')",
                                "actions": {
                                  "Remove_Detonated_Tag": {
                                    "type": "Http",
                                    "runAfter": {},
                                    "inputs": {
                                      "method": "POST",
                                      "uri": "@{concat(parameters('DefenderApiBaseUri'), '/api/machines/', encodeURIComponent(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['MdatpDeviceId']), '/tags')}",
                                      "headers": { "Content-Type": "application/json" },
                                      "authentication": { "type": "ManagedServiceIdentity", "audience": "@parameters('DefenderApiAudience')" },
                                      "body": { "Value": "@{parameters('DetonatedTag')}", "Action": "Remove" }
                                    }
                                  },
                                  "Remove_Disarmed_Tag": {
                                    "type": "Http",
                                    "runAfter": { "Remove_Detonated_Tag": [ "Succeeded", "Failed", "TimedOut" ] },
                                    "inputs": {
                                      "method": "POST",
                                      "uri": "@{concat(parameters('DefenderApiBaseUri'), '/api/machines/', encodeURIComponent(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['MdatpDeviceId']), '/tags')}",
                                      "headers": { "Content-Type": "application/json" },
                                      "authentication": { "type": "ManagedServiceIdentity", "audience": "@parameters('DefenderApiAudience')" },
                                      "body": { "Value": "@{parameters('DisarmedTag')}", "Action": "Remove" }
                                    }
                                  },
                                  "Remove_Legacy_Detonated_Tag": {
                                    "type": "Http",
                                    "runAfter": { "Remove_Disarmed_Tag": [ "Succeeded", "Failed", "TimedOut" ] },
                                    "inputs": {
                                      "method": "POST",
                                      "uri": "@{concat(parameters('DefenderApiBaseUri'), '/api/machines/', encodeURIComponent(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['MdatpDeviceId']), '/tags')}",
                                      "headers": { "Content-Type": "application/json" },
                                      "authentication": { "type": "ManagedServiceIdentity", "audience": "@parameters('DefenderApiAudience')" },
                                      "body": { "Value": "@{parameters('LegacyDetonatedTag')}", "Action": "Remove" }
                                    }
                                  },
                                  "Remove_Disarm_Tag": {
                                    "type": "Http",
                                    "runAfter": { "Remove_Legacy_Detonated_Tag": [ "Succeeded", "Failed", "TimedOut" ] },
                                    "inputs": {
                                      "method": "POST",
                                      "uri": "@{concat(parameters('DefenderApiBaseUri'), '/api/machines/', encodeURIComponent(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['MdatpDeviceId']), '/tags')}",
                                      "headers": { "Content-Type": "application/json" },
                                      "authentication": { "type": "ManagedServiceIdentity", "audience": "@parameters('DefenderApiAudience')" },
                                      "body": { "Value": "@{parameters('DisarmTag')}", "Action": "Remove" }
                                    }
                                  },
                                  "Update_Watchlist_Disarmed": {
                                    "type": "Http",
                                    "runAfter": { "Remove_Disarm_Tag": [ "Succeeded", "Failed", "TimedOut" ] },
                                    "inputs": {
                                      "method": "PUT",
                                      "uri": "@{concat(parameters('ArmBaseUri'), '/subscriptions/', encodeURIComponent(parameters('WorkspaceSubscriptionId')), '/resourceGroups/', encodeURIComponent(parameters('WorkspaceResourceGroup')), '/providers/Microsoft.OperationalInsights/workspaces/', encodeURIComponent(parameters('WorkspaceName')), '/providers/Microsoft.SecurityInsights/watchlists/', encodeURIComponent(parameters('WatchlistAlias')), '/watchlistItems/', encodeURIComponent(items('For_Each_Queue_Row')?['name']), '?api-version=2023-11-01')}",
                                      "headers": { "Content-Type": "application/json" },
                                      "authentication": { "type": "ManagedServiceIdentity", "audience": "@parameters('ArmAudience')" },
                                      "body": { "properties": { "itemsKeyValue": {
                                        "MdatpDeviceId": "@{items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['MdatpDeviceId']}",
                                        "DeviceName": "@{coalesce(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['DeviceName'], body('Get_MDE_Device')?['computerDnsName'])}",
                                        "IncidentId": "@{items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['IncidentId']}",
                                        "Reason": "@{items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['Reason']}",
                                        "RequestedBy": "@{items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['RequestedBy']}",
                                        "EnqueuedTime": "@{coalesce(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['EnqueuedTime'], utcNow())}",
                                        "Attempts": "@{string(add(int(if(empty(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['Attempts']), '0', items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['Attempts'])), 1))}",
                                        "Status": "Disarmed",
                                        "RetryAfterUtc": "",
                                        "LastAttemptUtc": "@{utcNow()}",
                                        "LastError": "",
                                        "LastActionId": "@{body('Parse_LR_Disarm_Response')?['id']}"
                                      } } }
                                    }
                                  }
                                },
                                "else": {
                                  "actions": {
                                    "Add_Disarm_Failed_Tag": {
                                      "type": "Http",
                                      "inputs": {
                                        "method": "POST",
                                        "uri": "@{concat(parameters('DefenderApiBaseUri'), '/api/machines/', encodeURIComponent(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['MdatpDeviceId']), '/tags')}",
                                        "headers": { "Content-Type": "application/json" },
                                        "authentication": { "type": "ManagedServiceIdentity", "audience": "@parameters('DefenderApiAudience')" },
                                        "body": { "Value": "@{parameters('FailedTag')}", "Action": "Add" }
                                      }
                                    },
                                    "Update_Watchlist_Disarm_Failed": {
                                      "type": "Http",
                                      "runAfter": { "Add_Disarm_Failed_Tag": [ "Succeeded", "Failed", "TimedOut" ] },
                                      "inputs": {
                                        "method": "PUT",
                                        "uri": "@{concat(parameters('ArmBaseUri'), '/subscriptions/', encodeURIComponent(parameters('WorkspaceSubscriptionId')), '/resourceGroups/', encodeURIComponent(parameters('WorkspaceResourceGroup')), '/providers/Microsoft.OperationalInsights/workspaces/', encodeURIComponent(parameters('WorkspaceName')), '/providers/Microsoft.SecurityInsights/watchlists/', encodeURIComponent(parameters('WatchlistAlias')), '/watchlistItems/', encodeURIComponent(items('For_Each_Queue_Row')?['name']), '?api-version=2023-11-01')}",
                                        "headers": { "Content-Type": "application/json" },
                                        "authentication": { "type": "ManagedServiceIdentity", "audience": "@parameters('ArmAudience')" },
                                        "body": { "properties": { "itemsKeyValue": {
                                          "MdatpDeviceId": "@{items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['MdatpDeviceId']}",
                                          "DeviceName": "@{coalesce(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['DeviceName'], body('Get_MDE_Device')?['computerDnsName'])}",
                                          "IncidentId": "@{items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['IncidentId']}",
                                          "Reason": "@{items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['Reason']}",
                                          "RequestedBy": "@{items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['RequestedBy']}",
                                          "EnqueuedTime": "@{coalesce(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['EnqueuedTime'], utcNow())}",
                                          "Attempts": "@{string(add(int(if(empty(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['Attempts']), '0', items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['Attempts'])), 1))}",
                                          "Status": "Failed",
                                          "RetryAfterUtc": "",
                                          "LastAttemptUtc": "@{utcNow()}",
                                          "LastError": "@{concat('Disarm-TimeBomb.ps1 Live Response ended with status ', coalesce(body('Get_Disarm_Status')?['status'], 'unknown'))}",
                                          "LastActionId": "@{body('Parse_LR_Disarm_Response')?['id']}"
                                        } } }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "else": {
                        "actions": {
                          "Update_Watchlist_Device_Not_Ready": {
                            "type": "Http",
                            "inputs": {
                              "method": "PUT",
                              "uri": "@{concat(parameters('ArmBaseUri'), '/subscriptions/', encodeURIComponent(parameters('WorkspaceSubscriptionId')), '/resourceGroups/', encodeURIComponent(parameters('WorkspaceResourceGroup')), '/providers/Microsoft.OperationalInsights/workspaces/', encodeURIComponent(parameters('WorkspaceName')), '/providers/Microsoft.SecurityInsights/watchlists/', encodeURIComponent(parameters('WatchlistAlias')), '/watchlistItems/', encodeURIComponent(items('For_Each_Queue_Row')?['name']), '?api-version=2023-11-01')}",
                              "headers": { "Content-Type": "application/json" },
                              "authentication": { "type": "ManagedServiceIdentity", "audience": "@parameters('ArmAudience')" },
                              "body": { "properties": { "itemsKeyValue": {
                                "MdatpDeviceId": "@{items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['MdatpDeviceId']}",
                                "DeviceName": "@{coalesce(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['DeviceName'], body('Get_MDE_Device')?['computerDnsName'])}",
                                "IncidentId": "@{items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['IncidentId']}",
                                "Reason": "@{items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['Reason']}",
                                "RequestedBy": "@{items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['RequestedBy']}",
                                "EnqueuedTime": "@{coalesce(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['EnqueuedTime'], utcNow())}",
                                "Attempts": "@{string(add(int(if(empty(items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['Attempts']), '0', items('For_Each_Queue_Row')?['properties']?['itemsKeyValue']?['Attempts'])), 1))}",
                                "Status": "Retry",
                                "RetryAfterUtc": "@{addHours(utcNow(), parameters('RetryAfterHours'))}",
                                "LastAttemptUtc": "@{utcNow()}",
                                "LastError": "@{concat('Device not ready for disarm. onboardingStatus=', if(empty(coalesce(body('Query_DeviceInfo')?['Results'], json('[]'))), 'unknown', coalesce(first(body('Query_DeviceInfo')?['Results'])?['OnboardingStatus'], 'unknown')), '; sensorHealthState=', if(empty(coalesce(body('Query_DeviceInfo')?['Results'], json('[]'))), 'unknown', coalesce(first(body('Query_DeviceInfo')?['Results'])?['SensorHealthState'], 'unknown')), '; latestDeviceInfo=', if(empty(coalesce(body('Query_DeviceInfo')?['Results'], json('[]'))), 'unknown', coalesce(first(body('Query_DeviceInfo')?['Results'])?['LatestTimestamp'], 'unknown')))}",
                                "LastActionId": "@{workflow().run.name}"
                              } } }
                            }
                          }
                        }
                      }
                    }
                  },
                  "else": { "actions": {} }
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {}
      }
    }
  ],
  "outputs": {
    "logicAppName": { "type": "string", "value": "[variables('PlaybookName')]" },
    "logicAppResourceId": { "type": "string", "value": "[resourceId('Microsoft.Logic/workflows', variables('PlaybookName'))]" },
    "principalId": { "type": "string", "value": "[reference(resourceId('Microsoft.Logic/workflows', variables('PlaybookName')), '2019-05-01', 'full').identity.principalId]" },
    "watchlistAlias": { "type": "string", "value": "[parameters('WatchlistAlias')]" },
    "watchlistResourceId": { "type": "string", "value": "[variables('watchlistResourceId')]" }
  }
}
